* {
  box-sizing:border-box;
  text-decoration: none;
}

.escurecer-tela{
  position: fixed;
  width: 100%;
  height: 100vw;
  background-color: black;
  opacity: 60%;
  z-index: 1;
  top: 0;
  visibility: hidden;
}

.container-cart{
  width: 85%;
  height: fit-content;
  margin: auto auto auto auto;
  overflow: hidden;
}

.woocommerce-mini-cart.cart_list.product_list_widget{
  margin-left: 0;
  padding-left: 0;
  display: flex;
  flex-direction: column;
}

.woocommerce-mini-cart.cart_list.product_list_widget > li{
  display: flex;
  align-items: center;
  background: rgba(215, 246, 253, 1);
  height: 85px;
  overflow: hidden;
  margin-bottom: 1.5rem;
  position: relative;
  margin-right: -2.5rem;
  justify-content: center;
  gap: 3.5rem;
}

li > a > img{
  height: 85px;
  width: 100px;
  position: absolute;
  left: 0;
  top: 0;
  color: black;
  
  
}
li.woocommerce-mini-cart-item.mini_cart_item > a {
  display: flex;
  align-items: center;
  gap: 1rem;
  word-wrap: break-word;
  flex-wrap: wrap;
  margin-top: -3rem;
  margin-left: 4.5rem;
  width: 8rem;
}
ul > li > .remove.remove_from_cart_button{
  position: absolute;
  right: 50px;
  color: red;

}

ul > li > .quantity{
  width: auto;
  color: black;
}


.woocommerce-mini-cart__total.total, .woocommerce-mini-cart__buttons.buttons{
  display: none;
}

.coupon{
  display: none;
}
.woocommerce-mini-cart-item.mini_cart_item > input{
  position: absolute;
  width: 35px;
  left: 123px;
  bottom: 10px;
  height: 20px;
  text-align: center;
  color: black;

}

.woocommerce-mini-cart-item.mini_cart_item{
  color: black;
}

.cart{
  width: 25%;
  height: 100%;
  background-color: rgba(245, 198, 97, 1);
  position: fixed;
  right: -480px;
  z-index: 2;
  top: 0;
  margin-top: 2rem;
  visibility: hidden;
}

.cart-header{
  display: flex;
  margin-top: 0.5rem;
  flex-flow: row-reverse;
  justify-content: space-between;
}
.divider{
  width: 400px;
  height: 3px;
  background-color: rgba(106, 6, 109, 1);
  margin-bottom: 1.5rem;
}

.prato{
  display: flex;
  align-items: center;
  background: rgba(215, 246, 253, 1);
  height: 85px;
  overflow: hidden;
  margin-bottom: 1.5rem;
  
}

.nome-qtd{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-left: 1.5rem;
}

.nome-qtd > p{

  margin-top: 0.5rem;
  width: auto;
  margin: 0;
  padding: 0;
}

.nome-qtd > input{

  width: 3rem;
}

.preco{
  margin-left: 4rem;
  color: black;
}
.cart-total > p {
  width: auto;
}

.cart-total{
  display: flex;
  gap: 0.7rem;
  margin: 0;
  padding: 0;
  position: absolute;
  color: black;
  
}

.cart-subtotal, .cart-collaterals{
  display: none;
}
.purchase > a{
  color: white;
  text-decoration: none;
  text-align: center;
}
.purchase > a > p{
  width: auto;
  margin: 0;
  margin-bottom: 0;
}
.purchase{
  display: flex;
  margin: 3rem auto auto auto;
  cursor: pointer;
  width: 12rem;
  height: 2rem;
  background: rgba(126, 52, 129, 0.8628);
  align-items: center;
  justify-content: center;
  border: none;
  color: white;



}