/* Theme name: Comes&Bebes
Author: Error 404
Description: CSS Principal
Version: 1 */

@import url(assets/css/normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Bellota+Text&family=Montserrat:wght@100&family=Raleway:wght@100&display=swap');
/* All */

/* *{
    font-family: 'Bellota Text', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
}*/
html{
    position: relative;
    min-height: 33.5rem;
}
h1, h2, p{
    font-family: 'Bellota Text';
    font-weight: 100;
}
input::placeholder, select, span, td, h3, th, .address, address{
    font-family: 'Bellota Text';
}

/* header */


.header{
    display: flex;
    justify-content: center;
    background-color:#7A247D;
    padding: 8px;
    gap: 1rem;

}

.Divsearch input{
border-color:#F5C661;
border-style: solid;
border-bottom-width: 2px;
border-top-width: 0;
border-right-width: 0;
border-left-width: 0;
background-color:#7A247D;
}
.Divsearch input::placeholder{
    color: #F5C661;
}

.links input{
    font-family: 'Bellota Text', cursive;
    background-color: #F5C661;
    border: 0;
    padding: 6px;
    font-size: small;
}
.Divsearch{
    font-family: 'Bellota Text', cursive;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 60%;
    gap: 3rem;
    
}
.search{
    background-color: white;
    background-image: url(assets/images/Vector\ \(1\).png);
    background-repeat: no-repeat;
    background-size: 1.2rem;
    background-position-x: 1%;
    padding-left: 2.5rem;
    padding-bottom: 0.2rem;
    color: #F5C661;
    width: 20rem;
    
}
.links{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 50%;
    gap: 2rem;
}
.links input{
    cursor: pointer;
    font-weight: bolder;
}
/* Sections main pag home */
.introduction{
    background-color: #7A247D;
    height: 12rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}
.title{
   width: 100%;
    color: #F5C661;
    text-shadow: 1px 1px 1px black;
    font-size: 48px;
    margin: 0;
    font-weight: 900;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.subtitle{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    font-size: 26px;
}

.productCategories{
    font-family: 'Bellota Text', cursive;
}
.productCategories h2{
    padding-top: 1em;
    text-align: center;
    font-weight: 400;
    font-size: 32px;
    padding-bottom: 0.5em;
}

.container{
    width: 90%;
    margin: auto;
    font-weight: 700;
    font-size: 24px;
}
.dailyProduct{
    width: 90%;
    margin: auto;
    margin-bottom: 3rem;
}
.dailyProduct {
    font-family: 'Bellota Text', cursive;
    font-weight: 400;
    font-size: 18px;
}
.dailyProduct p{
    font-family: 'Bellota Text', cursive;
    font-weight: 700;
    font-size: 24px;
}
.divseeMore{
    margin: auto;
    width: 20%;
    
}
.seeMore{
    background-color: #F5C661;
    padding: 6px;
    border: 0;
    width: 100%;
    cursor: pointer;
    font-weight: bolder;
}


/* Section pre footer pag home */
.prefooter{
    font-family: 'Bellota Text', cursive;
    background-color: #7A247D;
    /* text-align: center; */
    color: white;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.prefooter h2{
    text-align: center;
}
.images{
    display: flex;
    justify-content: center;
    gap: 6rem;
    color: white;
    align-items: center;
    margin-bottom: 2em;
}
.map{
    margin-bottom: 10px;
}
.rua{
    width: 16rem;
    background-image: url(assets/images/garfin.png);
    background-repeat: no-repeat;
    background-position-x: 1%;
    padding-left: 2rem;
}
.telefone{
    width: 16rem;
    background-image: url(assets/images/telefone.png);
    background-repeat: no-repeat;
    padding-left: 2rem;
}
.prev{
    left: 0;
    border-radius: 3px 0 0 3px;
  }

/* footer */
.footer{
    background-color: #F5C661;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.textFooter{
    margin: auto;
    font-family: 'Bellota Text';
}
 /* produtos dinamicos */
.container .woocommerce.columns-4 > ul > li> a{
    position: relative;
 }

 .container > .woocommerce.columns-4 > ul > li > a > h2{
    position: absolute;
    background-color: #7a247dc1;
    width: 100%;
    bottom: 0;
    text-align: start;
    color: white;
    
}

.count{
    opacity: 0;
}



.dailyProduct > .woocommerce.columns-4 > ul > li > a > img {
position: relative;
height: 250px;
margin: 0;
}
.woocommerce-loop-product__title{
position: absolute;
background-color: #7a247dc1;
bottom: 0;
width: 100%;
color: white;
height: 30%;
border: 0;
}
.price{
position: relative;
bottom: 0;
width: 100%;
height: 15.5%;
border: 0;
}
.button.product_type_variable.add_to_cart_button{
    position: absolute;
    bottom: 30px;
    right: 32px;
    margin: 0;
    visibility: visible;
    font-size: 0;
}
.button.product_type_variable.add_to_cart_button:after{
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background-color: #F5C661;
    background-image: url(assets/images/carrinho.png);
    background-repeat: no-repeat;
    background-size: 1.5rem;
    background-position-x: 50%;
    background-position-y: 50%;
    width: 25px;
    height: 25px;   
}

.button.product_type_simple.add_to_cart_button.ajax_add_to_cart{
    position: absolute;
    bottom: 30px;
    right: 32px;
    margin: 0;
    visibility: visible;
    font-size: 0;
    
    
}
.button.product_type_simple.add_to_cart_button.ajax_add_to_cart:after{
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background-color: #F5C661;
    background-image: url(assets/images/carrinho.png);
    background-repeat: no-repeat;
    background-size: 1.5rem;
    background-position-x: 50%;
    background-position-y: 50%;
    width: 25px;
    height: 25px;
}
.woocommerce-Price-amount.amount{
    color: black;
    font-weight: bolder;
}
.added_to_cart.wc-forward{
    visibility: hidden;
    position: relative;
}
.added_to_cart.wc-forward:after{
pointer-events: none;
content: "Adicionado!";
visibility: visible;
position: absolute;
left: 5px;
color: #F5C661;

}
/* pratos pag shop */
.test{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;

}
p{
    width: 80%;
    margin: auto;
    margin-bottom: 1.5rem;
}
p input{
    border: 0;
    border-bottom: 2px solid #7A247D;
    width: 16rem;
    
}
.test p {
    display: none;
}
.orderby{
    border: 0;
    border-bottom:2px solid #7a247dc1;
}


/* categorias page shop */
.woocommerce.columns-4, h1{
    width: 80%;
    margin: auto;
}
h1{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.SelecioneCat {
    font-family: 'Bellota Text',cursive;
    font-size: 32px;;
}

.pratos{
    font-family: 'Bellota Text',cursive;
    font-size: 32px;;
}



.products.columns-4{
    height: auto;
}
.products.columns-4 li{
    margin: 0;
    height: auto;
}
.products.columns-4 li a img{
    position: relative;
}
.woocommerce-loop-category__title{
    font-family: 'Bellota Text', cursive;
    font-size: 20px;
    font-weight: 700;
    background-color: #7a247dc1;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
}

.woocommerce.columns-4.test{
    font-family: 'Bellota Text', cursive;
}

.price {
    font-family:sans-serif;
}


.title{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* page my account */
.woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--edit-account, .woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--downloads{
    display: none;
    opacity: 0;
    visibility: hidden;
}

.woocommerce{
    display: flex;
    flex-direction: column;
    




}
.navigation{
display: flex;
padding: 0;
margin: 0;
justify-content: space-evenly;
width: 100%;
background-color: #F5C661;
}
.navigation > li{
    list-style: none;
    padding: 5px;
}
.navigation > li > a{
    font-size: 24px;
}
.dailyProduct{
    text-decoration: none;
    color: black;

}
.woocommerce-MyAccount-content{
    width: 100%;
    font-size: 20px;
    margin: auto;
    margin-top: 0.5rem;
}
.woocommerce-MyAccount-content p{
    margin: 1rem 0 1rem 0;
    width: 100%;
}
.editAcoount input::placeholder{
    font-size: 18px;
}
.divbottom{
margin: 3rem auto 3rem auto;
text-align: center;

}
button.woocommerce-Button.button{
    padding: 0.3rem 1.2rem 0.3rem 1.2rem;
    background-color: #7A247D;
    color: white;
}
a{
    text-decoration: none;
    color: black;
    font-family: 'Bellota Text';
}

/* myaccount/pedidos */
.woocommerce-orders-table.woocommerce-MyAccount-orders.shop_table.shop_table_responsive.my_account_orders.account-orders-table{
    border: none;
    width: 118%;
    margin-left: -1rem;
    

}
.numberp{
color: #6A066D;
font-weight: bolder;
}
th{
    font-size: 20px;
    font-weight: bolder;
}


.woocommerce-button.button.view{
    background-color: white;
    border: 3px solid #6A066D;
    padding: 0.2rem 1.5rem 0.2rem 1.5rem ;
    color: #6A066D;
    font-weight: bolder;
}

.woocommerce-orders-table__header.woocommerce-orders-table__header-order-actions{
    display: none;
}
.woocommerce-orders-table__cell.woocommerce-orders-table__cell-order-total{
    width: 11rem;
}
.woocommerce-button.woocommerce-button--next.woocommerce-Button.woocommerce-Button--next.button{
    margin-bottom: 2rem;
    padding: 0.3rem 1.2rem 0.3rem 1.2rem;
    background-color: #7A247D;
    color: white;
    
}
.woocommerce-button.woocommerce-button--previous.woocommerce-Button.woocommerce-Button--previous.button{
    padding: 0.3rem 1.2rem 0.3rem 1.2rem;
    background-color: #7A247D;
    color: white;
}

/* detalhes do pedido */
.tfoot{
    display: flex;


    margin: 0;

}
.item, .teztt{
width: 9.42rem;
}
.row{
    display: flex;
    flex-direction: column;
}
.woocommerce-columns.woocommerce-columns--2.woocommerce-columns--addresses.col2-set.addresses{
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 8rem;
}
.textt, th{
    font-size: 24px;
    font-weight: 600;
}
.linkProduct{
    color: #09A7B1;
    text-decoration: underline;
}
.best{
    display: flex;
}
/* enderecos */
.woocommerce-Address-title.title{
    display: flex;
justify-content: left;
margin-top: 2rem;


}
.woocommerce-Address-title.title .addressDelivery {
margin: 0;
padding: 0;
width: 50%;
font-size: 24px;
text-align: left;
color: black;
text-shadow: none;
font-weight: 400;
}
.addd{
    width: 50%;
    text-align: right;
    font-size: 24px;


text-shadow: none;
font-weight: 300;
}
.address{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 2rem;
}
.ad, .edit{
    color: #09A7B1;
    text-decoration: underline;

}

/* edit enderenco */
#shipping_company_field, #shipping_country_field, .required{
display: none;

}

.divbottom{
    margin: 3rem auto 3rem auto;
    text-align: center;
    
    }
button.button{
    padding: 0.3rem 1.2rem 0.3rem 1.2rem;
    background-color: #7A247D;
    color: white;
}
/* pagina single categoria */

.woocommerce.columns-3{
    width: 90%;
    margin: auto;
}
.woocommerce-result-count{
    opacity: 0;
}

/* pagina single-product */
div.single-product{
width: 85%;
margin: auto;
margin-top: 2rem;
}
.woocommerce-product-gallery__trigger, .product_meta {
    display: none;
}
.woocommerce-tabs.wc-tabs-wrapper{
    visibility: hidden;
    height: 10px;
}