/* Primeira coluna*/


.woocommerce-billing-fields {
    margin-left:20%;
    margin-bottom: 100px;
    width: 80%;
}

.col-1 h1 {
    margin-left:20%;
    font-size: 32px;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
}


.woocommerce-billing-fields h3 {
    font-size: 32px;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
}



.woocommerce-billing-fields label {
    margin-bottom: 5px;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
}


/* Segunda coluna */

#order_review_heading {
    font-size: 32px;
    font-family: 'Raleway', sans-serif;
}

/* .product-name {
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
} */

h4 {
    margin-bottom: 5px;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
}

.pagamentoInput{
    border: 0; 
    border-bottom: 2px solid #7A247D;
}

.infoExtraCartao{
    display:flex;
}