@import url(../../style.css);

.woocommerce-breadcrumb{
    display: none;
}

.summary.entry-summary{
    padding-top: 2em;
}

.woocommerce-product-gallery.woocommerce-product-gallery--with-images.woocommerce-product-gallery--columns-4.images{
    padding-top: 2em;
}

.product_title.entry-title{
    display: flex;
    text-align: center;
}
.summary.entry-summary{
    margin: 0px;
    padding: 0px;
    margin-top: 5em;
}
.summary.entry-summary h1{
    display: flex;
    justify-content: left;
    margin: 0px;
}
.woocommerce-product-details__short-description{
    
}
th.label{
    padding: 0px;
}







/* feito */

.related.products{
    text-align: left;
    display: flex;
    flex-direction: column;
    padding-left: 15%;
    /* align-items: center; */
    width: 100%;
}
.related.products h2{
    text-align: left;
}

.products.columns-4{
    display: flex;
    width: 70%;
}
.related.products{
    width: max-content;
}
.products.columns-4{
width: 100%;
}